<html>
   <body>
   
      <form method = "POST">
         <h2>Select Model : </h2>
         <select name="files" class="selectpicker form-control">
            {% for fil in files[0:] %}
            <option value="{{fil}}">{{fil}}</option>
            {% endfor %}
         </select>
         <h2> Cam URL : </h2>
         <p><input type="text" name="url" size=60 value="http://keticmr.iptime.org:22080/WorkDevCarAI/carai/api/web/static/20231002_human.mp4"/></p>
         <p><input type="submit" value="stream" onclick="javascript: form.action='/stream'" /></p>
         <p><input type="submit" value="download video" onclick="javascript: form.action='/downloadVideo'" /></p>
         <p><input type="submit" value="download prediction-log" onclick="javascript: form.action='/downloadLog'" /></p>
      </form>
      
   </body>
</html>