<html>
   <body>
   
      <form action = "/stream" method = "POST">
         <h2>Select Model : </h2>
         <select name="files" class="selectpicker form-control">
            {% for fil in files[0:] %}
            <option value="{{fil}}">{{fil}}</option>
            {% endfor %}
         </select>
         <h2> Cam URL : </h2>
         <p><input type="text" name="url" size=60 value="rtsp://user1:ketiabcs@evc.re.kr:39091/h264Preview_01_main"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>